/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #edf2f4;
  font-family: "Poppins", sans-serif;
}
.container {
  text-align: center;
}
h1 {
  padding: 20px;
  color: #2b2d42;
}
.container input {
  padding: 5px 8px;
  border-radius: 4px;
  border: 2px solid grey;
}
button {
  padding: 7px;
  background-color: #2b2d42;
  color: #94adcf;
  border: none;
  border-radius: 4px;
}
button:hover {
  transform: scale(1.1);
}
